.mat-toolbar a {
  margin-right: 20px;  /* Erhöht den Abstand zwischen den Elementen */
  color: inherit;      /* Stellt sicher, dass die Links die gleiche Farbe wie der Text haben */
  text-decoration: none;  /* Entfernt die Unterstreichung von Links */
}

.mat-toolbar a:last-child {
  margin-right: 0;  /* Entfernt den Abstand am Ende des letzten Elements, um Überlauf zu vermeiden */
}
.example-spacer {
  flex: 1 1 auto;
}
